# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
build/

# Testing
coverage/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
vite.config.js.timestamp-*

# Firebase
.firebase/

# Environment secrets (Critical for security)
.env*
!.env.example

# Project specific
CustomExports/

# OS and IDEs
.vscode/
.idea/
.DS_Store
Thumbs.db
